{{ extend 'layout.html' }}

<script type="text/javascript">
  jQuery(document).ready(function(){
    //Fancybox
    jQuery(".atividade").fancybox({
      'width': '65%',
      'height': '65%',
      'autoScale': false,
      'transictionIn': 'none',
      'transictionOut': 'none',
      'type': 'iframe'
    });

    jQuery(".usuario").fancybox({
      'width': '30%',
      'height': '60%',
      'autoScale': false,
      'transictionIn': 'none',
      'transictionOut': 'none',
      'type': 'iframe'
    });

    //DataTable
    jQuery("#table_usuarios").dataTable();
  });
</script>

{{ if todos: }}

<center>
    <h2>Lista de Usuários Cadastrados</h2>
</center>
<table class="display" id="table_usuarios">
    <thead>
        <tr>
            <th>Escola</th>
            <th>Login</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {{ for usuario in todos: }}
            <tr>
                <td>{{=usuario.first_name.nome}}</td>
                <td>
                    <a href="{{=URL('admin','usuarios',args=['editar', usuario.id])}}">
                        {{=usuario.username}}
                    </a>
                </td>
                <td>{{=usuario.email}}</td>
            </tr>
        {{ pass }}
    </tbody>
</table>


{{ elif usuario: }}
<center>
    <h2>Editar Usuário</h2>

    {{=usuario}}

    <h2><a href="{{=URL('admin', 'usuarios', args=['lista'])}}">Voltar</a></h2>

</center>

{{ else: }}
<center><h2>Nehum registro encontrado</h2></center>
<br />

{{ pass }}

<center><h2><a href="{{=URL('default', 'user', args=['register'])}}">Novo Usuário</a></h2></center>