<html>

 <head>
     <meta charset="utf-8" />
     <title>MapTIC / Mapeamento - Uso das TIC - {{=escola[0].nome}} - {{=request.now.year}}</title>
 </head>
 <body>
     <center><h1>MapTIC / Mapeamento - Uso das TIC nas Escolas {{=request.now.year}}</h1></center>
     <center><h2>Dados da Escola:</h2></center>
     <table border="0.1" cellpadding="2">
         <tr>
             <td align="center"><strong>Escola</strong></td>
             <td align="center">{{=escola[0].nome}}</td>
             <td align="center"><strong>Endereço</strong></td>
             <td colspan="3" align="center">{{=escola[0].endereco}}</td>
         </tr>
         <tr>
             <td align="center"><strong>Telefone</strong></td>
             <td align="center">{{=escola[0].telefone}}</td>
             <td align="center"><strong>Código INEP</strong></td>
             <td align="center">{{=escola[0].cod_inep}}</td>
             <td align="center"><strong>Email</strong></td>
             <td align="center">{{=email_escola[0].email}}</td>
         </tr>
         <tr>
             <td align="center"><strong>DRE</strong></td>
             <td align="center">{{=escola[0].dre}}</td>
             <td align="center"><strong>NTE</strong></td>
             <td align="center">{{=escola[0].nte}}</td>
             <td align="center"><strong>Turnos de Funcionamento</strong></td>
             <td align="center">{{=", ".join([x for x in escola[0].turno])}}</td>
         </tr>
     </table>
    
     <center><h1>MapTIC / Infraestrutura de TI / {{=escola[0].nome}}</h1></center>

     <table border="0.1" cellpadding="1">
             <tr>
                 <td align="center"><strong>Possui laboratório de informática?</strong></td>
                 <td align="center"><strong>Recebeu equipamentos novos em 2009/2010?</strong></td>
                 <td align="center"><strong>Quantidade de computadores no(s) laboratório(s) de informática</strong></td>
                 <td align="center"><strong>Origem dos equipamentos do laboratório de informática</strong></td>
             </tr>
             <tr>
                 <td align="center">{{=infrati[0].labinfo}}</td>
                 <td align="center">{{=infrati[0].e_novo}}</td>
                 <td align="center">{{=infrati[0].num_comp}}</td>
                 <td align="center">{{=infrati[0].origem}}</td>
             </tr>
     </table>
     <br />
     <table border="0.1" cellpadding="1">
             <tr>
                 <td align="center"><strong>Ano de implementação do laboratório de informática</strong></td>
                 <td align="center"><strong>Quantidade de computadores funcionando</strong></td>
                 <td align="center"><strong>Sistema Operacional</strong></td>
                 <td align="center"><strong>Configuração predominante nos computadores</strong></td>
             </tr>
             <tr>
                 <td align="center">{{=infrati[0].ano_imp}}</td>
                 <td align="center">{{=infrati[0].qtd_func}}</td>
                 <td align="center">{{=infrati[0].so}}</td>
                 <td align="center">{{=infrati[0].config}}</td>
             </tr>
     </table>
     <br />
     <table border="0.1" cellpadding="1">
             <tr>
                 <td align="center"><strong>Quantidade de computadores na sala dos professores</strong></td>
                 <td align="center"><strong>Quantidade de computadores na secretaria</strong></td>
                 <td align="center"><strong>Rede lógica no laboratório</strong></td>
                 <td align="center"><strong>Rede lógica na sala dos professores</strong></td>
                 <td align="center"><strong>Rede lógica na secretaria</strong></td>
             </tr>
             <tr>
                 <td align="center">{{=infrati[0].qtd_pc_professor}}</td>
                 <td align="center">{{=infrati[0].qtd_pc_secretaria}}</td>
                 <td align="center">{{=infrati[0].rede_logica_lab}} | <strong>Nº de Pontos:</strong> {{=infrati[0].ponto_rede_lab or 0}}</td>
                 <td align="center">{{=infrati[0].rede_logica_prof}} | <strong>Nº de Pontos:</strong> {{=infrati[0].ponto_rede_prof or 0}}</td>
                 <td align="center">{{=infrati[0].rede_logica_sec}} | <strong>Nº de Pontos:</strong> {{=infrati[0].ponto_rede_sec or 0}}</td>
             </tr>
     </table>
     <br />
     <table border="0.1" cellpadding="1">
             <tr>
                 <td align="center"><strong>Internet</strong></td>
                 <td align="center"><strong>Em quais locais da escola há acesso à internet?</strong></td>
                 <td align="center"><strong>Possui rede wireless?</strong></td>
                 <td align="center"><strong>Condição de funcionamento do laboratório</strong></td>
                 <td align="center"><strong>Possui linha telefônica para o laboratório?</strong></td>
             </tr>
             <tr>
                 {{ if infrati[0].internet: }}
                 <td align="center">{{=infrati[0].internet}}</td>
                 {{ else: }}
                 <td align="center">{{=infrati[0].internet_outro}}</td>
                 {{ pass }}
                 <td align="center">{{=infrati[0].local_internet}}</td>
                 <td align="center">{{=infrati[0].wifi}}</td>
                 <td align="center">{{=infrati[0].condicao_lab}}</td>
                 <td align="center">{{=infrati[0].tel_lab}}</td>
             </tr>
     </table>

     <center><h1>MapTIC / Infraestrutura da Escola / {{=escola[0].nome}}</h1></center>

     <table border="0.1" cellpadding="1">
             <tr>
                 <td align="center"><strong>Possui sala para montagem do laboratório?</strong></td>
                 <td align="center"><strong>Rede elétrica</strong></td>
                 <td align="center"><strong>Pára-raios</strong></td>
                 <td align="center"><strong>Aterramento</strong></td>
                 <td align="center"><strong>Tomadas tripolares no laboratório de informática</strong></td>
                 <td align="center"><strong>Fiação no laboratório de informática</strong></td>
             </tr>
             <tr>
                 <td align="center">{{=infraescola[0].sala_montagem}}</td>
                 <td align="center">{{=infraescola[0].rede_eletrica}}</td>
                 <td align="center">{{=infraescola[0].para_raio}}</td>
                 <td align="center">{{=infraescola[0].aterramento}}</td>
                 <td align="center">{{=infraescola[0].tomada_tripolar}}</td>
                 <td align="center">{{=infraescola[0].fiacao}}</td>
             </tr>
     </table>
     <br />
     <table border="0.1" cellpadding="1">
             <tr>
                 <td align="center"><strong>Fiação no laboratório de informática</strong></td>
                 <td align="center"><strong>Grades de proteção do laboratório</strong></td>
                 <td align="center"><strong>Ar condicionado nos laboratórios</strong></td>
                 <td align="center"><strong>Disjuntor para o Ar condicionado nos laboratórios</strong></td>
                 <td align="center"><strong>Quadro Branco no laboratório de informática</strong></td>
             </tr>
             <tr>
                 <td align="center">{{=infraescola[0].fiacao}}</td>
                 <td align="center">{{=infraescola[0].grades}}</td>
                 <td align="center">{{=infraescola[0].ar_cond}}</td>
                 <td align="center">{{=infraescola[0].disjuntor_ar}}</td>
                 <td align="center">{{=infraescola[0].quadro_branco}}</td>
             </tr>
     </table>
     <br />
     <table border="0.1" cellpadding="1">
             <tr>
                 <td align="center"><strong>Armário</strong></td>
                 <td align="center"><strong>Mesa/Cadeira adaptada para o laboratório de infomrática</strong></td>
                 <td align="center"><strong>Bancada</strong></td>
                 <td align="center"><strong>Cadeira</strong></td>
             </tr>
             <tr>
                 <td align="center">{{=infraescola[0].armario}}</td>
                 <td align="center">{{=infraescola[0].mesa_cadeira}}</td>
                 <td align="center">{{=infraescola[0].bancada}}</td>
                 <td align="center">{{=infraescola[0].cadeira}} | <strong>Quantidade:</strong> {{=infraescola[0].qtd_cadeira or 0}}</td>
             </tr>
     </table>

     <center><h1>MapTIC / Outras TICs / {{=escola[0].nome}}</h1></center>

     <table border="0.1" cellpadding="1">
             <tr>
                 <td align="center"><strong>Antena parabólica ou digital</strong></td>
                 <td align="center"><strong>Aparelho DVD</strong></td>
                 <td align="center"><strong>Caixa 1 do DVD escola (50 mídias)</strong></td>
                 <td align="center"><strong>Caixa 2 do DVD escola (50 mídias)</strong></td>
                 <td align="center"><strong>Caixa 3 do DVD escola (60 mídias)</strong></td>
                 <td align="center"><strong>Câmera filmadora digital</strong></td>
             </tr>
             <tr>
                 <td align="center">{{=outrastics[0].parabolica}} | <strong>Quantidade: </strong> {{=outrastics[0].qtd_parabolica or 0}}</td>
                 <td align="center">{{=outrastics[0].dvd}} | <strong>Quantidade:</strong> {{=outrastics[0].qtd_dvd or 0}}</td>
                 <td align="center">{{=outrastics[0].dvdescola1}}</td>
                 <td align="center">{{=outrastics[0].dvdescola2}}</td>
                 <td align="center">{{=outrastics[0].dvdescola3}}</td>
                 <td align="center">{{=outrastics[0].filmadora}} | <strong>Quantidade:</strong> {{=outrastics[0].qtd_filmadora or 0}}</td>
             </tr>
     </table>
     <br />
     <table border="0.1" cellpadding="1">
             <tr>
                 <td align="center"><strong>Máquina fotográfica digital</strong></td>
                 <td align="center"><strong>Lousa digital</strong></td>
                 <td align="center"><strong>Projetor multimídia</strong></td>
                 <td align="center"><strong>Aparelho de som</strong></td>
                 <td align="center"><strong>Aparelho de TV</strong></td>
             </tr>
             <tr>
                 <td align="center">{{=outrastics[0].fotografica}} | <strong>Quantidade:</strong> {{=outrastics[0].qtd_fotografica or 0}}</td>
                 <td align="center">{{=outrastics[0].lousa}} | <strong>Quantidade:</strong> {{=outrastics[0].qtd_lousa or 0}}</td>
                 <td align="center">{{=outrastics[0].projetor}} | <strong>Quantidade:</strong> {{=outrastics[0].qtd_projetor or 0}}</td>
                 <td align="center">{{=outrastics[0].som}} | <strong>Quantidade:</strong> {{=outrastics[0].qtd_som or 0}}</td>
                 <td align="center">{{=outrastics[0].tv}} | <strong>Quantidade:</strong> {{=outrastics[0].qtd_tv or 0}}</td>
             </tr>
     </table>
     <br />
     <table border="0.1" cellpadding="1">
             <tr>
                 <td align="center"><strong>Equipamento de rádio (recepção)</strong></td>
                 <td align="center"><strong>Equipamento de rádio (transmissão)</strong></td>
                 <td align="center"><strong>Observações</strong></td>
             </tr>
             <tr>
                 <td align="center">{{=outrastics[0].radio_r}}</td>
                 <td align="center">{{=outrastics[0].radio_t}}</td>
                 <td align="center">{{=outrastics[0].observacoes}}</td>
             </tr>
     </table>
 </body>
</html>